a {
    text-decoration: none;
    color: #333333;
}

body {
    overflow: hidden;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    justify-content: center;
}

.testBook {
    text-align: center;

}

#album {
    margin: 5% auto;
    width: 600px;
    height: 500px;
}

.prevnext {
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
    cursor: pointer;
    margin-left: 20px;
}
#book{
    display: block;
}